/* CSS Document */

/*  HEADER */
.top-bar-container{
	padding-right: 0px !important;
	padding-left:  0px !important;
}
.top-bar{
	background-color: #8dc63f;
}
.row{
	margin-right: 0px;
}
.col-top-bar{
	padding-right: 0px;
}

.top-bar-text{
	font-size: 13px;
	margin-top: 0px !important;
	padding: 8px 0px 8px 100px;
	color: white;
}
.top-bar-text span{

}
.logo{
	margin-left: 80px;
}
.logo img{
	max-width: 70% !important;
}

/* NAVIGATION */

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
 
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
 
.dropdown:hover .dropdown-menu {
    display: block;
}
 
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}
 
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

nav{
	margin-top: 20px;
	font-size: 16px;
}
.nav-center li a{
	color: gray;
	font-size: 16px;
	padding-bottom: 15px;
}
.navbar-default .navbar-nav>li>a{
	color: white;
}
.navbar-default {
  background-color: #8dc63f;
  border-color: #8dc63f;
  }

.navbar-default .navbar-nav > li > a:hover{
	color:white;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	color: #FFF;
	background-color: #8dc63f;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
	color: white !important;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
	color: gray !important;
}
.navbar {
	border: 0px solid transparent !important;
 	border-radius: 0px;
}
.nav-center{
	padding-left: 20px;
}

/* footer */

.btn-send-email{
	color: white;
	background-color: #E38054;
	border-radius: 0px;


}
.form-mail{
	  border-radius: 0px;
	  height: 30px;
}

footer{
	background-image: url('../image/common/footer.png');
}

.footer-title-lt, .footer-title-lb, .footer-title-mid, .footer-title-right{
	font-size: 14px;
	font-weight:bold;
	color: #5E5E5E; 
	padding-bottom: 10px;
}
.footer-left, .footer-mid, .footer-right{
	margin-top: 25px;
}
.footer-left{
	padding-left:50px;
}
.footer-mid{
	padding-left: 30px;
}
.copyright span{
	font-weight:bold;
	cursor:pointer
}
.soical{
	margin-right: 20px;
}
.footer-left{
	padding-bottom: 20px;
}
.google-map{
	width:100%;
}
.facebook{
	width: 100%;
}

.slider{
	padding-left: 15px;
}


/* show tour */
.tour_title{
	font-size: 20px;
}
.tour_time{
	color: red;
}
.tour_cost{
	color: orange;
	font-size: 30px;
}
.show_tour{
	background-color: #8dc63f;
	padding-left: 60px;
	padding-right: 60px;
	margin-bottom: 30px;
}
.thumbnail{
	border-radius: 0px;
}
.tour{
	padding-top: 20px;

}
.tour_detail > a > img, .tour_detai2 > a > img{
	height: 124px;
}
.tour_detail .tour_detai2{
	padding-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
.tour_detail::after{
  content: " ";
  background: url("../image/common/label.png") top center no-repeat;
  width: 35px;
  height: 44px;
  position: absolute;
  top: 11px;
  right: 25px;
}
.tour_detail2::after{
  content: " ";
  background: url("../image/common/label.png") top center no-repeat;
  width: 35px;
  height: 44px;
  position: absolute;
  top: -8px;
  right: 15px;
}

/* Visa news*/
.visa_title h2{
	font-size: 22px;
	border-bottom: 2px solid #8dc63f;
	display: inline-block;
	margin-bottom: -1px;
}
.visa_title {
	border-bottom: 1px dotted #e4e9f0;
	display: block;
	margin-bottom: 25px;
	margin-left: 20px;
}
.visa_content{
	margin-left: 7px;
}
.caption h3{
	font-size: 16px;
	color: #94989F;
}
.caption h3 a{
	color: #94989F;
}
.caption h3 a:hover{
	color: #8dc63f;
	text-decoration: none;
}
.news_title h2{
	font-size: 22px;
	display: inline-block;
	border-bottom: 2px solid #8dc63f;
	margin-bottom: -1px;
}
.news_title{
	border-bottom: 1px dotted #e4e9f0;
	display: block;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 30px;
}
.visa-wrap{
	border:0px;

}
.visa-col{
	padding-left: 0px;
	padding-right: 0px;
}
.tour-visa-new{
	padding-left: 0px;
	padding-right: 0px;
}
.visas-wrap{
padding-left: 40px;
}
.news-wrap{
	padding-left: 30px;
}
.news_content{
	margin-left: 10px;
	margin-right: 30px;
}
a:hover{
 text-decoration: none;
 color: #8dc63f;
}

/*PARTNER */
.partner_title{
	display: block;
	border-bottom: 1px dotted #e4e9f0;
	margin-bottom: 20px;

}
.partner_title h3{
	font-size: 22px;
	border-bottom:  2px solid #8dc63f;
	display: inline-block;
	margin-bottom: 0px;
}
.partner_wrap{
	padding-left: 40px;
	padding-right:30px;
}

.partner_slide_wrap > .thumbnail{
	border : 0px;
}
/*content- detail*/
#tourist_detail{
	margin-bottom: 20px;
}